@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 95%;
  margin: 0 auto;
  clear: both; }

body {
  color: #ffffff; }

@media screen and (min-width: 970px) {
  .container {
    width: 80%;
    margin: 0 auto; } }

.intro {
  background: url("../../img/head-bg.png") no-repeat;
  background-size: cover;
  min-height: 100vh; }
  .intro .hero {
    max-width: 705px;
    min-width: 300px;
    width: auto;
    margin: 215px auto 0 auto;
    text-align: center; }
    .intro .hero .title {
      font: 400 50px "OpenSans", sans-serif; }
    .intro .hero p {
      padding-bottom: 70px;
      font: 400 12px "OpenSans", sans-serif; }
    .intro .hero .primary-btn {
      width: 280px;
      margin: 50px auto 20px auto; }

.header {
  height: 100px;
  padding: 30px;
  border-bottom: 1px solid #372a37; }
  .header h1.logo {
    margin-top: 10px;
    display: inline;
    float: left; }
    .header h1.logo img {
      width: 40px; }
  .header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header .nav li a,
  .header #touch-menu {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    font: 700 14px/24px "nevis", sans-serif; }
  .header .nav li a:hover {
    border-bottom: 2px solid #ffffff; }
  .header #touch-menu:hover {
    color: #ffffff; }
  .header #touch-menu {
    display: none; }
  @media (min-width: 320px) and (max-width: 970px) {
    .header .nav {
      display: none; }
      .header .nav li a {
        background: #ffffff;
        color: #090909; }
        .header .nav li a:hover {
          background: #f0f0f0;
          color: #090909;
          border-left: 3px solid #8824cd; }
    .header .nav li:first-child a {
      border-top: none; }
    .header #touch-menu {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px; }
      .header #touch-menu .fa-bars {
        font-size: 22px; } }

@media (min-width: 970px) {
  .intro .hero {
    margin: 275px auto 0 auto; } }

@media (min-width: 1170px) {
  .intro .hero {
    margin: 275px 0 0 0;
    text-align: right;
    overflow: hidden; }
    .intro .hero .primary-btn {
      margin-left: 290px; } }

.primary-btn {
  display: block;
  width: 280px;
  height: 60px;
  color: #ffffff;
  font: 700 18px/60px "OpenSans", sans-serif;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  background: #8824cd;
  border-radius: 30px;
  text-align: center;
  cursor: pointer; }
  .primary-btn:hover {
    color: #8824cd;
    background: #ffffff;
    transition: all .4s ease-in; }

.toggle-btn {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer; }

.toggle-btn .icon-1 {
  margin-bottom: 2px;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff; }

.toggle-btn .icon-2 {
  display: block;
  width: 30px;
  height: 2px;
  background: red; }

/*
вся магия по превращению в "х"
*/
.toggle-switch {
  background: transparent; }
  .toggle-switch span {
    transition: background 0 0.3s; }
    .toggle-switch span::before, .toggle-switch span::after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0; }
    .toggle-switch span::before {
      transition-property: top, transform; }
    .toggle-switch span:after {
      transition-property: bottom, transform; }

.toggle-switch.active span {
  background: none; }
  .toggle-switch.active span::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg); }
  .toggle-switch.active span::after {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg); }
  .toggle-switch.active span::before, .toggle-switch.active span::after {
    transition-delay: 0, 0.3s; }
