html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 95%;
  margin: 0 auto; }

@media screen and (min-width: 970px) {
  .container {
    width: 80%;
    margin: 0 auto; } }

.intro {
  background: url("../../img/head-bg.png") no-repeat;
  background-size: cover;
  min-height: 100vh; }

.header {
  height: 100px;
  padding: 30px;
  border-bottom: 1px solid #372a37; }
  .header h1.logo {
    margin-top: 10px;
    display: inline;
    float: left; }
    .header h1.logo img {
      width: 40px; }
  .header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header .nav li a,
  .header #touch-menu {
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    font: 700 14px/24px "nevis", sans-serif; }
  .header .nav li a:hover {
    border-bottom: 2px solid #ffffff; }
  .header #touch-menu:hover {
    color: #ffffff; }
  .header #touch-menu {
    display: none; }
  @media (min-width: 320px) and (max-width: 970px) {
    .header .nav {
      display: none; }
      .header .nav li a {
        border-top: 1px solid #eee;
        background: #ccc;
        color: #090909; }
        .header .nav li a:hover {
          background: #f0f0f0;
          color: #ffffff;
          border-left: 3px solid yeelow; }
    .header .nav li:first-child a {
      border-top: none; }
    .header #touch-menu {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px; }
      .header #touch-menu .fa-bars {
        font-size: 22px; } }

.hero h2 {
  color: #ffffff;
  font: 400 50px/70px #ffffff; }
