.primary-btn {
	display: block;
	width: 280px;
	height: 60px;
	color: $secondary_font_color;
	font: 700 18px/60px $secondary_font;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	background: #8824cd;
	border-radius: 30px;
	text-align: center;
	cursor: pointer;
	&:hover {
		color: #8824cd;
		background: $secondary_font_color;
		transition: all .4s ease-in;
	}
}
.secondary-btn {
	display: block;
	width: 340px;
	margin: 30px auto 0 auto;
	border-radius: 30px;
	background: $secondary_font_color;
	color: #d54c63;
	font: 700 18px/60px $primary_font;
	&:hover, &:focus {
		background: #8824cd;
		color: $secondary_font_color;
		transition: all .4s ease-in;
	}
}