.toggle-btn {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.toggle-btn {

    .icon-1 {
        margin-bottom: 2px;
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
    }
    .icon-2 {
        display: block;
        width: 30px;
        height: 2px;
        background:  red;
    }
}
/*
вся магия по превращению в "х"
*/
.toggle-switch {background: transparent;
    span {transition: background 0 0.3s;
        &::before, &::after {
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0;
        }
        &::before {transition-property: top, transform;}
        &:after {transition-property: bottom, transform;}
    }
}
.toggle-switch.active span {background: none;
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(45deg);
    }
    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(-45deg);
    }
    &::before, &::after {transition-delay: 0, 0.3s;}
}