
@media only screen and (max-width: 750px) {
    // bg settings mobile window
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background: rgba(0,0,0, .95);
        overflow-x: hidden;
        z-index: 5;
        transition: all .7s; //anim open window
        a {
            display: block;
            padding: 10px;
            color: #ccc;
            font-size: 30px;
            text-decoration: none;
            &:hover, &:focus {
                color: #fff;
                transition: all .5s ease-in-out .1s;
            }
        }
        //position close button
        .close-btn {
            position: absolute;
            top: 8px;
            right: 3px;
            font-size: 50px;
        }
    }
    //position mobile menu
    .overlay__content {
        flex-flow: column nowrap;
        justify-content: center;
        height: 100%;
        text-align: center;
        li {padding: 10px 0;}
    }
    #open-btn-nav {
        display: block;
        padding: 7px;
        width: 35px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        .line {
            display: block;
            width: 20px;
            height: 3px;
            background: #000;
        }
        .line:nth-child(2) {margin: 3px 0;}
    }
}