*, *:after, *:before {box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}
img {
	width: 100%;
	height: auto;
}
.container {
	width: 95%;
	margin: 0 auto;
}

@media screen and (min-width: 970px) {
.container {
	width: 80%;
	margin: 0 auto;
}
}
