$primary_font: "Open Sans", sans-serif;
$secondary_font: "Quicksand", sans-serif;
$primary_font_color: #000000;
$secondary_font_color: #ffffff;
$additional_color: #000000;
$accent_color: #ff5959;
$fa-font-path: "../libs/font-awesome/fonts";
@import "fonts";
