$primary_font: "nevis", sans-serif;
$secondary_font: "OpenSans", sans-serif;
$primary_font_color: #090909;
$secondary_font_color: #ffffff;
$nav_menu_color: #f68500;



$head_color: #504f50;
$logo_color: #39c9da;
$primary_btn_color: #39c9da;

